# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Node
node_modules/
Frontend/node_modules/

# Build files
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/

# Logs
*.log

# Database
*.db
*.sqlite
*.sqlite3

# Jupyter
.ipynb_checkpoints/
# Large dataset and model files
Datasets/olist_geolocation_dataset.csv
Backend/app/ML/saved_models/random_forest.pkl
