# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db

# Python virtual environment
venv/
.venv/

# Logs
*.log

# VS Code
.vscode/

# React / Vite
frontend/node_modules/
frontend/dist/

# npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db